<div *ngIf="type !== 'horizontal'" class="card main-page">
    <div class="card-image">
        <a [routerLink]="['/products/' + product.id]">
            <img [src]="product.image" />
        </a>
    </div>
    <p class="name">{{ product.name }}</p>
    <p>${{ product.price }}.00</p>
</div>
<div *ngIf="type === 'horizontal'" class="card product-page horizontal">
    <div class="card-image">
        <img class="materialboxed" [src]="product.image" />
    </div>
    <div class="description">
        <p class="name">{{ product.name }}</p>
        <p>${{ product.price }}.00</p>
        <p class="quote" *ngIf="product.hasOwnProperty('quote')">{{ product.quote }}</p>
        <p>{{ product.description }}</p>
        <div>
            <!-- <a [routerLink]="['/products/' + product.id]" *ngIf="!showBuyButton">
                View product
            </a> -->
            <select class="browser-default" #sizeSelect (change)="onSizeSelected(sizeSelect.value)">
                <option value="5x5">5x5</option>
                <option value="5x7">5x7</option>
            </select>
            <input #quantityInput [value]="quantity" (change)="onQuantitySelected(quantityInput.value)">


            <button class="snipcart-add-item"
                *ngIf="showBuyButton"
                data-item-has-taxes-included="true"
                data-item-url="../assets/products.json"
                [attr.data-item-price]="product.price"
                [attr.data-item-image]="product.image"
                [attr.data-item-name]="product.name"
                [attr.data-item-id]="product.id"
                data-item-custom1-name="SIZE"
                data-item-custom1-options="5x5|5x7"
                [attr.data-item-quantity]="quantity"
                [attr.item-custom1-value]="size"
                >
                Add to cart
            </button>
        </div>
    </div>
</div>