@import "../../styles.scss";

.card {
  box-shadow: none;
}

.main-page {
  box-shadow: none;
  margin:0;

  &:hover {
    p {
      color: $hot-pink;
      transition: .3s ease-in;
    }
    
    .card-image {
      box-shadow: 0px 0px 15px -2px $hot-pink;
      transition: .4s ease-in;
    }
  }
  
  .card-image {
    // -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 0px 15px -2px $dull-grey;
  }

  p {
    margin:0;
    text-align: center;
  }

  .name {
    margin-top: 10px;
  }
}

.product-page{
  .card-image {
    padding-right:20px;

    img {
      border: 1px solid $dull-grey;
    }
  }

  .description {
    padding-left: 20px;
    position: relative;
  }

  button {
    position: absolute;
    bottom: 0;
  }

  .quote {
    font-style: italic;
    white-space:pre-wrap;
  }
}


#size {
  border: 1px solid red;
  position: absolute;
  top:0;
  z-axis: 10;
  
}