@import "../../styles.scss";

.card {
  box-shadow: none;
}

.main-page {
  box-shadow: none;
  margin:0;
  p {
    color: $dark-blue;
  }

  &:hover {
    p {
      color: black;
      // transition: .3s ease-in;
    }
    
    .card-image {
      border: 3px solid $hot-pink;
      // box-shadow: 0px 0px 15px -2px $hot-pink;
      transition: all .3s ease-in-out;
    }
  }
  
  .card-image {
    box-shadow: none;
    border: 3px solid transparent;;
    // box-shadow: 0px 0px 15px -2px $dull-grey;
  }

  p {
    margin:0;
    text-align: center;
  }

  .name {
    margin-top: 10px;
  }
}

.product-page{
  .card-image {
    // padding-right:20px;
    border: 1px solid red;

    img {
      border: 1px solid $dull-grey;
    }
  }

  .description {
    padding-left: 20px;
    position: relative;
  }

  button {
    background-color: black;
    border: 2px solid black;
    width: 100%;
    padding: 10px 0px;
    color: white;
    text-transform: uppercase;

    &:hover {
      background-color: $hot-pink;
      border-color: $hot-pink;
      transition: all .3s ease-in-out;
    }
  }

  .quote {
    font-style: italic;
    white-space:pre-wrap;
  }

  select {
    border: 2px solid black;
    width: 80px;
    cursor: pointer;

    &:hover {
      border-color: $hot-pink;
      transition: all .3s ease-out;
    }
  }

  input {
    width: 40px;
    text-align: center;
    height:38px;
    border:none;
    margin: 0;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      transition: all .3s ease-out;
    }
  }

  .quantity-selector {
    border: 2px solid black;
    width: 80px;
    text-align: center;

    &:hover {
      border-color: $hot-pink;
      transition: all .3s ease-out;
    }

    span {
      display:inline-block;
      font-size: 20px;
      cursor: pointer;
      -webkit-user-select: none; /* Chrome/Safari */        
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */

      &:hover {
        color: $hot-pink;
        transition: all .3s ease-out;
      }
    }
  }

  .selector-container {
    display: flex;
    margin-bottom: 10px;

    .child:last-child {
      margin-left: 15px;
    }

  }
}


//gallery
ngx-gallery >>> ngx-gallery-image .ngx-gallery-thumbnail.ngx-gallery-active {
  border: 1px solid black;
  z-axis: -1;
}

ngx-gallery >>> ngx-gallery-image .ngx-gallery-arrow {
  color: black;
  background-color: black;
}

ngx-gallery >>> ngx-gallery-image >>> ngx-gallery-bullets .ngx-gallery-bullet {
  background: $dull-grey;
}