@import "../../styles.scss";

.actions {
  padding: 24px 0;

  &__link {
      margin-right: 12px;
  }
  
  &__separator {
      margin-right: 12px;
  }

  @media (max-width: $breakpoint-tablet) {
    margin-top: 50px;
  }
}