@import "../../styles.scss";
.layout {
  min-height:100vh;
  display:flex;
  flex-direction:column;

}
.layout {
  &__content {
      flex:1;
      // border: 1px solid red;
  }
  &__footer {
      text-align: center;
  }
}

.navigation a {
  color: $dull-grey;
  font-size: 20px;
  // border:1px solid blue;
  font-family: 'Reem Kufi', sans-serif;
}

.navigation div {
  // border: 1px solid red;
}

nav {
  box-shadow:none;
  background: white;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 25px;
}

.cart {
  float:right;
  clear:right;
}

footer{
  color:black;
}

.container {
  // border: 1px solid red;
  width:90%;
  max-width: 900px;

  @media screen and (max-width: 950px) {
    // width: 90%;
    // min-width: auto;
    // border:1px solid red;
  }
}

.navigation {
  // border-bottom: 1px solid black;
}


//mobile

#mobile-nav {
  position: fixed;
  top: 50px;
  width: 100%;
  transition: top 0.3s ease-in-out;
  box-shadow: 0px 0px 15px -2px $dull-grey;
  display: none;
  justify-content: space-between;
  padding-left: 60px;
  padding-right:60px;
  a {
    color: $dull-grey;
    font-family: 'Reem Kufi', sans-serif;
    font-size:18px;
  }

  opacity: 0%;
  z-index: -1;
  @media (max-width: $breakpoint-tablet) {
    opacity: 100%;
    z-index: 1;
    display: flex;
  }
}

#logo-div{
  @media (max-width: $breakpoint-tablet) {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top:0;
    z-index:2;
    width: 100%;
    padding: 19.5px 0px 18px 0px;
    background-color: white;
  }
}
