@import "../../styles.scss";

.products-list {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $breakpoint-tablet) {
        margin-top: 30px;
    }

    &__item {
        padding: 20px;
        width: 100%;

        @media (min-width: $breakpoint-tablet) {
            width: 50%;
        }

        // @media (min-width: $breakpoint-desktop) {
        //     width: 50%;
        // }
    }
}

p {
    text-align: center;
    margin: 0; padding: 0;
}

.intro {
    // border: 1px solid black;
    letter-spacing: -.2px;
}
.quote {
    color: $dark-blue;
    margin-top: 40px;
    @media (max-width: $breakpoint-tablet) {
        margin-top: 85px;
    }
}