@import "../../styles.scss";

.products-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
        padding: 20px;
        width: 100%;

        @media (min-width: $breakpoint-tablet) {
            width: 50%;
        }
    }
}

p {
    text-align: center;
    margin: 0; padding: 0;
}

.intro {
    // border: 1px solid black;
    letter-spacing: -.2px;
    margin-top: 20px;
    display: none;
}
.quote {
    color: $dark-blue;
    margin-top: 40px;
    @media (max-width: $breakpoint-tablet) {
        margin-top: 85px;
    }
}

.huh {
    height: inherit;
    border: 1px solid purple;
}