/* You can add global styles to this file, and also import other style files */

$dark-blue: #20528d;
$hot-pink: fuchsia;
//#ff00ff
$dull-grey: #808080;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

* {
  font-family: 'Roboto Mono', monospace;
}